<div class="animated fadeIn">

  <div class="card">
    <div class="card-header bg-info">
      <span class="text-white">Cadastro cliente...</span>
    </div>
    <div class="card-body">
      <p>Lista de clientes</p>

      <!-- FIltro Tabela -->
      <div class="row">
        <div class="col-lg-6 col-md-9 col-sm-12">
          <div class="input-group">
            <span class="input-group-addon">
              Filtrar: &nbsp;&nbsp;
              <select id="filtro" class="form-control" (change)="onChangeTable(config)" [(ngModel)]="campoFiltro" name="filtro">
                <option value="">Todas colunas</option>
                <option value="nome">Cliente</option>
                <option value="cpf">CPF/CNPJ</option>
                <option value="status">status</option>
              </select>
            </span>
            <input placeholder="Filtro" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)"
            />
          </div>
        </div>
      </div>
      <br>
      <!-- testtable -->
      <!-- <div class="row">
        <div class="col-12">

          <table class="table table-responsive table-hover table-outline mb-0">
            <thead class="thead-default">
              <tr>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>E-mail</th>
                <th>Contatos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaClientes | async">
                <td>{{ item.nome }}</td>
                <td>{{ item.cpf_cnpj }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.celular + ' / ' + item.telefone }}</td>
              </tr>
            </tbody>
          </table>
          <ng-table [config]="config" (tableChanged)="onChangeTable(config)" [rows]="rows" [columns]="columns">
          </ng-table>
        </div>
      </div> -->

      
      <div class="row">
        <div class="col">
          <ng-table [config]="config" (tableChanged)="onChangeTable(config)" [rows]="rows" [columns]="columns">
          </ng-table>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-addon">
              Itens por página
            </span>
            <select id="itempagina" class="form-control" [(ngModel)]="itemsPerPage" (change)="onChangeTable(config, { page: 1, itemsPerPage: itemsPerPage })"
              name="itempagina">
              <option value=10>10</option>
              <option value=25>25</option>
              <option value=50>50</option>
            </select>
          </div>
        </div>
        <div class="col-9">
          <pagination *ngIf="config.paging" class="pagination-sm float-right" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"
            previousText="Anterior" nextText="Próxima" firstText="Primeira" lastText="Última">
          </pagination>
        </div>
      </div>


    </div>
  </div>


</div>
