<div class="animated fadeIn">

  <div class="row">

    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-money bg-success p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 pt-3">R$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Orçamentos</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-money bg-warning p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 pt-3">R$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Notas de serviços</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-user-circle bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 pt-3">250</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Clientes</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-cogs bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 pt-3">550</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Peças e Serviços</div>
        </div>
      </div>
    </div>
    <!--/.col-->

  </div>
  <!--/.row-->



  <div class="card">
    <div class="card-header bg-info">
      <span class="text-white">XML File load</span>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon-doc"></i>
              </span>
            </div>
            <div class="custom-file">
              <input type="file" id="fileInputModalAprovacao" class="custom-file-input form-control" name="Arquivo XML" tooltip="Arquivo XML"
                (change)="uploadFileModal($event)" accept="*">
              <label class="custom-file-label d-inline-block text-truncate">{{ arquivoXML ? arquivoXML.name : 'Selecione um XML' }}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" *ngIf="arquivoXML">
          XML Folder ({{ folderLido }}) ->
          <span class="text-muted">
            Mapas: {{ mapasLidos }}
          </span>
          <span class="text-muted">
            Sources: {{ sourcesLidos }}
          </span>
          <span class="text-muted">
            Targets: {{ targetsLidos }}
          </span>
        </div>
      </div>


    </div>
  </div>




</div>
